/*global*/
html{
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-family: 'Arvo', serif;
  color: #fff;
  font-size: 8rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Arvo', serif;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
}

h4 {
  font-family: 'Arvo', serif;
  color: #fff;
  font-size: 3.5rem;
}

h5 {
  font-family: 'Oxygen', sans-serif;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
}

h6 {
  font-family: 'Arvo', serif;
  color: #fff;
  font-size: 1.5rem;
}

p {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 1.2rem;
}

p.italic-lato {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

nav {
  color: #fff;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}

nav a .shift-down {
  transition: transform 0.15s;
}

nav a:hover .shift-down {
  transform: translateY(4px);
}

nav a .shift-up {
  transition: transform 0.15s;
}

nav a:hover .shift-up {
  transform: translateY(-4px);
}

#logo {
  margin-top: 3rem;
  margin-left: 3rem;
}

#logo a {
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: lowercase;
  color: #19b5fe;
}

.logo-half{
  color: #fff;
}

#logo a .shift-up {
  transition: transform 0.15s;
}

#logo a:hover .shift-up {
  transform: translateY(-4px);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer p {
  color: #19b5fe;
  font-style: italic;
  margin-bottom: 3rem;
}

.color-flip {
  color: #fff;
}

.dark-text {
  color: #000;
}

/*-- END OF GLOBAL --*/

/*landing page*/

#landing-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#landing-container nav {
  grid-column: 1;
  grid-row: 2 / span 3;
}

.intro-container {
  grid-column: 3 / span 3;
  grid-row: 3 / span 2;
}

.intro-container h3 {
  padding-top: 2rem;
  color: #19b5fe;
}

.nav-landing-container {
  grid-column: 7 / span 6;
  grid-row: 1 / span 5;
}

.text-fill {
  background-color: #fff;
  position: relative;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.text-fill::before {
  content: attr(data-nav);
  background-color: #19b5fe;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  transition: all 800ms ease-in-out;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.text-fill:hover::before {
  width: 100%;
}

.section-glows {
  box-shadow: 0 0 0 0 #fff inset, 0 0 0 0 #fff;
  transition: all 0.1s ease-in-out;
}

.section-glows:hover {
  text-shadow: 5px 5px 20px #fff,  -5px -5px 20px #fff;
}

.special-tag {
  display: none;
  position: fixed;
  top: 25rem;
  left: 9rem;
}

.special-sign:hover + .special-tag {
  display: block;
}

/*lessons page*/

#lessons-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #bdbdbd;
}

#lessons-container h2,
#lessons-container h3,
#lessons-container p,
#lessons-container a {
  color: #000;
}

#lessons-container nav {
  grid-column: 1;
  grid-row: 2 / span 3;
  color: #000;
}

.rotate {
  transform: rotate(-90deg);
}

.cs-title {
  grid-column: 5 / span 8;
  grid-row: 1;
}

.cs-image-container {
  grid-column: 3 / span 9;
  grid-row: 2 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.sci-title {
  grid-column: 6 / span 3;
  grid-row: 3;
  text-align: center;
}

.sci-image-container {
  grid-column: 3 / span 9;
  grid-row: 4 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/*Buttons - lessons section*/

.btn-box {
  background-color: #bdbdbd;
  border-style: none;
  text-align: center;
  cursor: pointer;
}

.box-line {
  background-color: rgba(189,189,189,0);
  border: 0.1875rem solid #000;
  border-left-style: none;
  width: 8rem;
  height: 9rem;
  z-index: 2;
  margin-left: 1rem;
  margin-top: 1rem;
}

.half-line {
  background-color: rgba(189,189,189,0);
  border-width: 0.1875rem;
  border-style: none none none solid;
  border-color: #000;
  width: 0;
  height: 3.65rem;
  position: absolute;
  z-index: 1;
  margin-left: 1rem;
  margin-top: 6.7rem;
}

.btn-box h3 {
  font-family: 'Unica One', cursive;
  color: #000;
  font-size: 5rem;
  background-color: rgba(189,189,189,0);
  border-style: none;
  position: absolute;
  z-index: 1;
  margin-top: 1rem;
}

.glows {
  box-shadow: 0 0 0 0 #fff inset, 0 0 0 0 #fff;
  transition: all 1s ease-in-out;
  background-color: rgba(189,189,189,0);
}

.glows:hover .half-line, .glows:hover .box-line {
  box-shadow: 0 0 12px 5px #fff inset, 0 0 10px 4px #fff;
}

.glows:hover h3 {
  text-shadow: 5px 5px 20px #fff,  -5px -5px 20px #fff;
}

.glows:active .half-line, .glows:active .box-line {
  box-shadow: 0 0 16px 6px #fff inset, 0 0 6px 2px #fff;
}

/*about page*/

#about-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#about-container nav {
  grid-column: 1;
  grid-row: 2 / span 3;
}

.hello {
  grid-column: 4 / span 4;
  grid-row: 1 / span 2;
  font-size: 10rem;
  margin-bottom: 0;
  color: #fffacd;
}

.iam {
  grid-column: 6 / span 4;
  grid-row: 2;
  color: #19b5fe;
  margin-top: 7rem;
}

.bio {
  grid-column: 4 / span 8;
  grid-row: 2 / span 6;
  margin-top: 3rem;
}

.bio p {
  line-height: 150%;
}

.bio-text {
  padding-top: 10rem;
  padding-right: 12rem;
}

.selfie {
  width: 23rem;
  height: auto;
  float: right;
  padding-left: 4rem;
  padding-right: 4rem;
}

/*contact page*/

#contact-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#contact-page nav {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.contact-title {
  grid-column: 3 / span 9;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  width: 25rem;
  height: 0;
  border-width: 0.1875rem;
  border-style: none none solid none;
  border-color: #fff;
}

.contact-container {
  grid-column: 3 / span 9;
  grid-row: 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  background-color: #bdbdbd;
  text-align: center;
  width: 20rem;
  height: auto;
}

.box p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.resume h3 {
  margin-bottom: 1.5rem;
}

.box h3,
.box h5,
.box p {
  color: #000;
}

/*-------------------- lesson plan pages ----------------*/
/*-- global for Lesson Plan pages ONLY --*/

header {
  height: 5rem;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header #logo {
  margin-left: unset;
  margin-top: unset;
}

#lesson-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6,1fr);
  background: linear-gradient(to bottom right, #19b5fe, 50%, #000);
}

#lesson-grid.five-grid {
  grid-template-rows: repeat(5,1fr);
}

#lesson-grid a:hover {
  color: #fffacd;
  font-weight: 700;
}

.title-time {
  grid-column: 2 / span 10;
  grid-row: 1;
  margin-top: 0.5rem;
}

.title-time h4 {
  margin-bottom: 0;
}

.title-time h5 {
  margin-top: 0;
}

/*pseduo glass frames*/

.left-frame {
  grid-column: 2 / span 6;
  grid-row: 1 / span 2;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.45);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-top: 15rem;
}

.right-frame {
  grid-column: 9 / span 3;
  grid-row: 1 / span 2;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.45);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-top: 15rem;
}

.left-frame h6,
.right-frame h6 {
  margin: 1rem;
}

.left-frame p,
.right-frame p {
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.left-frame li,
.right-frame li {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

.left-frame ul,
.right-frame ul {
  list-style-type: disc;
  color: #fff;
}

.left-frame .tab {
  margin-left: 2rem;
  list-style-type: '-  ';
}

.push-down {
  margin-top: 5rem;
}

.indicator-bold {
  font-weight: 700;
  color: #fffacd;
}

/*section below glass frames*/

.lesson-main {
  grid-column: 2 / span 10;
  grid-row: 3 / span 4;
}

.small-heading {
  font-family: 'Arvo', serif;
  color: #fffacd;
  font-size: 1.3rem;
}

.pdf-link {
  width: 16rem;
}

.pdf-link a,
.pdf-link p {
  color: #fffacd;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.pdf-link a:hover,
.pdf-link p:hover {
  color: #fff;
  font-size: 1.1em;
}

#guided-practice ol,
#guided-practice li {
  color: #fff;
}

/*-- Special Circumstances within Lesson Pages --*/

img.rocksvg {
  width: 20rem;
  height: auto;
  margin-left: 10rem;
}

img.motherboard {
  width: 25rem;
  height: auto;
  margin-left: 5rem;
}

.game-screen-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cakeGameScreen {
  width: 25rem;
  height: auto;
  box-shadow: 0 0 0.7rem 0.4rem rgba(255, 255, 255, 0.1);
}

.cakeGameCode {
  width: 25rem;
  height: auto;
  box-shadow: 0 0 0.5rem 0.3rem rgba(255, 255, 255, 0.1);
}

/*------------------MEDIA QUERIES-------------------*/

@media screen and (max-width: 1480px){
  .nav-landing-container h1 {
    font-size: 6rem;
  }

  .iam {
    grid-column: 4 / span 4;
    grid-row: 2;
  }

  .contact-title h2 {
    font-size: 3.5rem;
  }

  .line {
    width: 17rem;
  }

  .box {
    width: 15rem;
    height: auto;
  }

  .box h3 {
    font-size: 2rem;
  }

  .box h5 {
    font-size: 1.2rem;
  }

  .box p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1280px){
  .intro-container h3 {
    font-size: 2rem;
  }

  .intro-container h5 {
    font-size: 1rem;
  }

  .nav-landing-container h1 {
    font-size: 5rem;
  }

  .cs-title {
    grid-column: 4 / span 8;
    grid-row: 1;
  }

  .selfie {
    width: 15rem;
    height: auto;
    float: right;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .iam {
    margin-top: 5rem;
    font-size: 2rem;
  }

  .contact-title h2 {
    font-size: 3rem;
  }

  .line {
    width: 14rem;
  }

  .box {
    width: 12rem;
    height: auto;
  }

  .box h3 {
    font-size: 2rem;
  }

  .box h5 {
    font-size: 1rem;
  }

  .box p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  #landing-container,
  #lessons-container,
  #about-container,
  footer {
    display: none;
  }

  #mobile-landing {
    display: block;
  }

  .mobile-main {
    display: flex;
    justify-content: center;
  }

  .mobile-warning-box {
    display: block;
    text-align: center;
    background-color: #bdbdbd;
    margin-top: 30%;
    width: 85%;
  }

  .mobile-warning-box p {
    color: #000;
    padding-bottom: 2rem;
  }

  .mobile-warning-box h5 {
    color: #000;
    font-weight: 700;
  }

}

@media screen and (min-width: 769px) {
  #mobile-landing {
    display: none;
  }
}

/*-- Special Section - App Design Overview --*/

/*-- Header --*/
#overview-page {
  height: 5rem;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: unset;
}

#overview-page #logo {
  margin-left: 3rem;
}

.paper-flex {
  display: flex;
  justify-content: center;
}

#graph-paper {
  border: 4px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 0.7rem 0.4rem rgba(255, 255, 255, 0.4);
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  background-color: #fafafa;
  background-image:
  linear-gradient(0deg, transparent 24%,
                  rgba(0,0,0, .05) 25%,
                  rgba(0,0,0, .05) 26%, transparent 27%, transparent 74%,
                  rgba(0,0,0, .05) 75%,
                  rgba(0,0,0, .05) 76%, transparent 77%, transparent),
  linear-gradient(90deg, transparent 24%,
                  rgba(0,0,0, .05) 25%,
                  rgba(0,0,0, .05) 26%, transparent 27%, transparent 74%,
                  rgba(0,0,0, .05) 75%,
                  rgba(0,0,0, .05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

.task-flex,
.task-flex a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-box {
  background-color: #fafafa;
  width: 70%;
  border: 2px solid #424242;
  border-radius: 3px;
  margin-top: 2rem;
}

.blue-border {
  border-color: #19b5fe;
  border-width: 4px;
}

.task-box h5,
.task-box p {
  padding-left: 2rem;
}

.task-box h5 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.bottom-margin-fix {
  margin-bottom: 2rem;
}

.code-review-form {
  width: 80%;
  height: auto;
}

a .task-box:hover {
  background-color: #e0e0e0;
}
/*END*/
